.reveal {
  font-size:18pt;
  font-family:SF Compact Display, Helvetica, sans-serif;
}

.reveal ul {
  margin-left:0;
  margin-right:auto;
  width:100%;
}
.reveal h1, .reveal h2, .reveal h3, .reveal h4 {
  text-transform:none !important;
}

.reveal h1 {
  font-size:18pt;
  text-align:left;
}

.reveal h2 {
  font-size:16pt;
  text-align:left;
}

.reveal h3 {
  font-size:1em;
  text-align:left;
}

.reveal p {
  text-align:left;
  font-size:1em;
}

.reveal code {
  font-family:Menlo, monospace;
  font-size:16pt;
  line-height:1;
}

.reveal img {
  border:0px !important;
  margin:auto !important;
 text-align:center;
}